In [49]:
import pandas as pd 
import numpy as np 
import tqdm as tqdm 
import matplotlib as plt 
import missingno
import seaborn as sns
import warnings
import json 
warnings.filterwarnings('ignore')

In [ ]:
# Importando as bases de dados

In [4]:
data_01 = pd.read_csv ('/Users/diegorodrigues/Documents/Iron_Hack/Part_Time_Jul_2020/000_Projects/Final/BBDD/12-12/data_01.csv')

In [5]:
data_02 = pd.read_csv ('/Users/diegorodrigues/Documents/Iron_Hack/Part_Time_Jul_2020/000_Projects/Final/BBDD/12-12/data_02.csv')

In [6]:
data_03 = pd.read_csv ('/Users/diegorodrigues/Documents/Iron_Hack/Part_Time_Jul_2020/000_Projects/Final/BBDD/12-12/data_03.csv')

In [7]:
data_04 = pd.read_csv ('/Users/diegorodrigues/Documents/Iron_Hack/Part_Time_Jul_2020/000_Projects/Final/BBDD/12-12/data_04.csv')

In [8]:
data_05 = pd.read_csv ('/Users/diegorodrigues/Documents/Iron_Hack/Part_Time_Jul_2020/000_Projects/Final/BBDD/12-12/data_05.csv')

In [9]:
data_06 = pd.read_csv ('/Users/diegorodrigues/Documents/Iron_Hack/Part_Time_Jul_2020/000_Projects/Final/BBDD/12-12/data_06.csv')

In [10]:
data_07 = pd.read_csv ('/Users/diegorodrigues/Documents/Iron_Hack/Part_Time_Jul_2020/000_Projects/Final/BBDD/12-12/data_07.csv')

In [11]:
data_08 = pd.read_csv ('/Users/diegorodrigues/Documents/Iron_Hack/Part_Time_Jul_2020/000_Projects/Final/BBDD/12-12/data_08.csv')

In [14]:
data_09 = pd.read_csv ('/Users/diegorodrigues/Documents/Iron_Hack/Part_Time_Jul_2020/000_Projects/Final/BBDD/12-12/data_09.csv')

In [13]:
data_10 = pd.read_csv ('/Users/diegorodrigues/Documents/Iron_Hack/Part_Time_Jul_2020/000_Projects/Final/BBDD/12-12/data_10.csv')

In [15]:
data_11 = pd.read_csv ('/Users/diegorodrigues/Documents/Iron_Hack/Part_Time_Jul_2020/000_Projects/Final/BBDD/12-12/data_11.csv')

In [16]:
data_12 = pd.read_csv ('/Users/diegorodrigues/Documents/Iron_Hack/Part_Time_Jul_2020/000_Projects/Final/BBDD/12-12/data_12.csv')

In [17]:
data_13 = pd.read_csv ('/Users/diegorodrigues/Documents/Iron_Hack/Part_Time_Jul_2020/000_Projects/Final/BBDD/12-12/data_13.csv')

In [18]:
data_14 = pd.read_csv ('/Users/diegorodrigues/Documents/Iron_Hack/Part_Time_Jul_2020/000_Projects/Final/BBDD/12-12/data_14.csv')

In [19]:
data_15 = pd.read_csv ('/Users/diegorodrigues/Documents/Iron_Hack/Part_Time_Jul_2020/000_Projects/Final/BBDD/12-12/data_15.csv')

In [20]:
data_16 = pd.read_csv ('/Users/diegorodrigues/Documents/Iron_Hack/Part_Time_Jul_2020/000_Projects/Final/BBDD/12-12/data_16.csv')

In [22]:
data_17 = pd.read_csv ('/Users/diegorodrigues/Documents/Iron_Hack/Part_Time_Jul_2020/000_Projects/Final/BBDD/12-12/data_17.csv')

In [23]:
data_18 = pd.read_csv ('/Users/diegorodrigues/Documents/Iron_Hack/Part_Time_Jul_2020/000_Projects/Final/BBDD/12-12/data_18.csv')

In [24]:
data_19 = pd.read_csv ('/Users/diegorodrigues/Documents/Iron_Hack/Part_Time_Jul_2020/000_Projects/Final/BBDD/12-12/data_19.csv')

In [ ]:
# concatenando os 19 dataframes em um

In [28]:
df = pd.concat ([data_01, data_02, data_03, data_04, data_05, data_06, data_07, data_08, data_08, data_09, data_10, data_11, data_12, data_13, data_14, data_15, data_16, data_17, data_18, data_19])

In [29]:
df.shape

(1938916, 52)

In [30]:
df.columns

Index(['lead_idd', 'person_id', 'organization_idd', 'event_id', 'data',
       'description', 'id', 'is_subscription', 'amount', 'conversion_amount',
       'appeal', 'fund', 'url_landing', 'utm_campaign', 'utm_source',
       'utm_medium', 'utm_content', 'utm_term', 'transaction_gateway_code',
       'monthly_plan_charge', 'subscription_gateway_code', 'state', 'status',
       'created_at', 'updated_at', 'deleted_at', 'next_payment_date',
       'gateway_organization_id', 'campaign_id', 'gateway_currency_id',
       'lead_id', 'organization_id', 'form_id', 'gatawey_json_response',
       'is_from_webhook', 'is_intent', 'payment_method', 'is_manual',
       'metadata', 'module', 'is_imported', 'ip', 'payment_gateway_request',
       'petition_id', 'payment_method_id', 'tax_relief', 'campaign_code_id',
       'dpo_gift_id', 'frequency_id', 'subscription_cycle_number',
       'landing_id', 'rng'],
      dtype='object')

In [31]:
df.isnull().sum()

lead_idd                           0
person_id                          0
organization_idd                   0
event_id                           0
data                               0
description                        0
id                                 0
is_subscription                    0
amount                             0
conversion_amount                  0
appeal                       1938916
fund                         1938916
url_landing                  1253506
utm_campaign                 1860395
utm_source                   1863765
utm_medium                   1858800
utm_content                  1903539
utm_term                     1905759
transaction_gateway_code       82783
monthly_plan_charge                0
subscription_gateway_code     636227
state                              0
status                             0
created_at                         0
updated_at                         0
deleted_at                   1938886
next_payment_date            1553232
gateway_organization_id       695409
campaign_id                      604
gateway_currency_id                4
lead_id                            0
organization_id                    0
form_id                         1379
gatawey_json_response          15359
is_from_webhook                    0
is_intent                          0
payment_method                     0
is_manual                          0
metadata                     1381002
module                             0
is_imported                        0
ip                           1679203
payment_gateway_request      1746999
petition_id                  1938916
payment_method_id            1415844
tax_relief                   1937883
campaign_code_id             1923322
dpo_gift_id                  1928178
frequency_id                   56634
subscription_cycle_number          0
landing_id                   1938916
rng                                0
dtype: int64

In [33]:
df_1 = df.drop (['appeal', 'fund', 'url_landing', 'utm_campaign', 'utm_source', 'utm_medium', 'utm_content', 'utm_content', 'utm_term', 'deleted_at', 'form_id', 'metadata', 'payment_gateway_request', 'petition_id', 'tax_relief', 'campaign_code_id', 'dpo_gift_id', 'landing_id'], axis=1)

In [35]:
df_1.head()

,lead_idd,person_id,organization_idd,event_id,data,description,id,is_subscription,amount,conversion_amount,...,is_intent,payment_method,is_manual,module,is_imported,ip,payment_method_id,frequency_id,subscription_cycle_number,rng
0,33963,33771,18,827957,"{""lead_id"":33963,""campaign_id"":101,""form_id"":4...",DONATIONFAILED_WEBHOOK: 51,83884,False,50000.0,50000.0,...,False,1,False,1,False,NaN,NaN,2.0,2,0.734023
1,33963,33771,18,826679,"{""lead_id"":33963,""campaign_id"":101,""form_id"":4...",DONATIONFAILED_WEBHOOK: 51,83884,False,50000.0,50000.0,...,False,1,False,1,False,NaN,NaN,2.0,2,0.095331
2,33963,33771,18,836941,"{""lead_id"":33963,""campaign_id"":101,""form_id"":4...",DONATIONFAILED_WEBHOOK: 51,83884,False,50000.0,50000.0,...,False,1,False,1,False,NaN,NaN,2.0,2,0.253496
3,33963,33771,18,830093,"{""lead_id"":33963,""campaign_id"":101,""form_id"":4...",DONATIONFAILED_WEBHOOK: 51,83884,False,50000.0,50000.0,...,False,1,False,1,False,NaN,NaN,2.0,2,0.748214
4,33963,33771,18,839621,"{""lead_id"":33963,""campaign_id"":101,""form_id"":4...",DONATIONFAILED_WEBHOOK: 51,83884,False,50000.0,50000.0,...,False,1,False,1,False,NaN,NaN,2.0,2,0.800436

In [ ]:
# Obtener donaciones únicas:

                is_subscription: false,

                monthly_plan_charge: false,

                is_intent: false,

                state: 2

                

                

                Obtener recurrencias:

                

                is_subscription: true,

                monthly_plan_charge: false,

                is_intent: false,

                state: 3

                

                Obtener cargos de suscripción:

                

                is_subscription: false,

                monthly_plan_charge: true,

                is_intent: false,

                state: 2

In [ ]:
# filtrando apenas as doações recorrentes

In [44]:
mask_recurrents = (df_1['is_subscription'] == True) & (df_1['monthly_plan_charge'] == False) & (df_1['is_intent'] == False) & (df_1['state'] == 3)

In [63]:
recurrents = df_1.loc[mask_recurrents, :]

In [64]:
recurrents.head()

,lead_idd,person_id,organization_idd,event_id,data,description,id,is_subscription,amount,conversion_amount,...,is_intent,payment_method,is_manual,module,is_imported,ip,payment_method_id,frequency_id,subscription_cycle_number,rng
1369,33963,33771,18,827957,"{""lead_id"":33963,""campaign_id"":101,""form_id"":4...",DONATIONFAILED_WEBHOOK: 51,70711,True,50000.0,50000.0,...,False,1,False,1,False,186.28.173.92,NaN,2.0,7,0.434643
1370,33963,33771,18,826679,"{""lead_id"":33963,""campaign_id"":101,""form_id"":4...",DONATIONFAILED_WEBHOOK: 51,70711,True,50000.0,50000.0,...,False,1,False,1,False,186.28.173.92,NaN,2.0,7,0.287592
1371,33963,33771,18,836941,"{""lead_id"":33963,""campaign_id"":101,""form_id"":4...",DONATIONFAILED_WEBHOOK: 51,70711,True,50000.0,50000.0,...,False,1,False,1,False,186.28.173.92,NaN,2.0,7,0.994683
1372,33963,33771,18,830093,"{""lead_id"":33963,""campaign_id"":101,""form_id"":4...",DONATIONFAILED_WEBHOOK: 51,70711,True,50000.0,50000.0,...,False,1,False,1,False,186.28.173.92,NaN,2.0,7,0.002717
1373,33963,33771,18,839621,"{""lead_id"":33963,""campaign_id"":101,""form_id"":4...",DONATIONFAILED_WEBHOOK: 51,70711,True,50000.0,50000.0,...,False,1,False,1,False,186.28.173.92,NaN,2.0,7,0.480003

In [65]:
recurrents = recurrents.reset_index()

In [66]:
recurrents.shape

(72573, 36)

In [70]:
# extraindo os Json da coluna Data e salvando em um novo dataset

In [51]:
def transform (x):
    return json.loads (x)

In [53]:
y = recurrents['data'].apply(transform)

In [54]:
data = pd.json_normalize(y)

In [55]:
data.head()

,lead_id,campaign_id,form_id,url_landing,utm_campaign,utm_source,utm_medium,utm_content,utm_term,amount,...,reference_metadata.PRODUCTO,reference_metadata.DESCRIPCIÓN PRODUCTO,reference_metadata.ID PRODUCTO,reference_metadata.UNIDADES,reference_metadata.PRECIO UNIDAD,reference_metadata.DESCUENTO,reference_metadata.PRECIO CON DESCUENTO,campaign_code_id,metadata.quantity,reference_metadata.quantity
0,33963,101,440.0,https://donar.cruzrojabogota.org.co/,None,None,None,None,None,50000.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,33963,101,440.0,https://donar.cruzrojabogota.org.co/,None,None,None,None,None,50000.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,33963,101,440.0,https://donar.cruzrojabogota.org.co/,None,None,None,None,None,50000.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,33963,101,440.0,https://donar.cruzrojabogota.org.co/,None,None,None,None,None,50000.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,33963,101,440.0,https://donar.cruzrojabogota.org.co/,None,None,None,None,None,50000.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [71]:
# Concatenando os 2 data sets

In [67]:
df_recur = pd.concat ([recurrents, data], axis=1)

In [68]:
df_recur.shape

(72573, 142)

In [69]:
df_recur.head()

,index,lead_idd,person_id,organization_idd,event_id,data,description,id,is_subscription,amount,...,reference_metadata.PRODUCTO,reference_metadata.DESCRIPCIÓN PRODUCTO,reference_metadata.ID PRODUCTO,reference_metadata.UNIDADES,reference_metadata.PRECIO UNIDAD,reference_metadata.DESCUENTO,reference_metadata.PRECIO CON DESCUENTO,campaign_code_id,metadata.quantity,reference_metadata.quantity
0,1369,33963,33771,18,827957,"{""lead_id"":33963,""campaign_id"":101,""form_id"":4...",DONATIONFAILED_WEBHOOK: 51,70711,True,50000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1370,33963,33771,18,826679,"{""lead_id"":33963,""campaign_id"":101,""form_id"":4...",DONATIONFAILED_WEBHOOK: 51,70711,True,50000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1371,33963,33771,18,836941,"{""lead_id"":33963,""campaign_id"":101,""form_id"":4...",DONATIONFAILED_WEBHOOK: 51,70711,True,50000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1372,33963,33771,18,830093,"{""lead_id"":33963,""campaign_id"":101,""form_id"":4...",DONATIONFAILED_WEBHOOK: 51,70711,True,50000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1373,33963,33771,18,839621,"{""lead_id"":33963,""campaign_id"":101,""form_id"":4...",DONATIONFAILED_WEBHOOK: 51,70711,True,50000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [72]:
df_recur.columns

Index(['index', 'lead_idd', 'person_id', 'organization_idd', 'event_id',
       'data', 'description', 'id', 'is_subscription', 'amount',
       ...
       'reference_metadata.PRODUCTO',
       'reference_metadata.DESCRIPCIÓN PRODUCTO',
       'reference_metadata.ID PRODUCTO', 'reference_metadata.UNIDADES',
       'reference_metadata.PRECIO UNIDAD', 'reference_metadata.DESCUENTO',
       'reference_metadata.PRECIO CON DESCUENTO', 'campaign_code_id',
       'metadata.quantity', 'reference_metadata.quantity'],
      dtype='object', length=142)

In [ ]:
# Comparando as colunas para entender duplicados

In [78]:
df_recur.equals (['reference_metadata.countryAndCity', 'metadata.countryAndCity'])

False

In [76]:
df_recur['reference_metadata.countryAndCity'].shape

(72573,)

In [77]:
df_recur['metadata.countryAndCity'].shape

(72573,)

In [83]:
df_recur [['reference_metadata.countryAndCity','metadata.countryAndCity']]

       reference_metadata.countryAndCity            metadata.countryAndCity
0        Colombia@@Bogotá@@3688685@@null                                NaN
1        Colombia@@Bogotá@@3688685@@null                                NaN
2        Colombia@@Bogotá@@3688685@@null                                NaN
3        Colombia@@Bogotá@@3688685@@null                                NaN
4        Colombia@@Bogotá@@3688685@@null                                NaN
...                                  ...                                ...
72568                                NaN          Peru@@Lima@@3936451@@null
72569  Colombia@@Medellín@@3689815@@null                                NaN
72570                                NaN  Colombia@@Medellín@@3689815@@null
72571  Colombia@@Medellín@@3689815@@null  Colombia@@Medellín@@3689815@@null
72572                                NaN                                NaN

[72573 rows x 2 columns]

In [84]:
df_recur [['reference_metadata.operatingSystemName','metadata.operatingSystemName']]

      reference_metadata.operatingSystemName metadata.operatingSystemName
0                                 Windows NT                          NaN
1                                 Windows NT                          NaN
2                                 Windows NT                          NaN
3                                 Windows NT                          NaN
4                                 Windows NT                          NaN
...                                      ...                          ...
72568                                    NaN                   Windows NT
72569                                Android                          NaN
72570                                    NaN                      Android
72571                                Android                      Android
72572                                    NaN                          NaN

[72573 rows x 2 columns]

In [73]:
for i in df_recur.columns:
    print (i)

index
lead_idd
person_id
organization_idd
event_id
data
description
id
is_subscription
amount
conversion_amount
transaction_gateway_code
monthly_plan_charge
subscription_gateway_code
state
status
created_at
updated_at
next_payment_date
gateway_organization_id
campaign_id
gateway_currency_id
lead_id
organization_id
gatawey_json_response
is_from_webhook
is_intent
payment_method
is_manual
module
is_imported
ip
payment_method_id
frequency_id
subscription_cycle_number
rng
lead_id
campaign_id
form_id
url_landing
utm_campaign
utm_source
utm_medium
utm_content
utm_term
amount
conversion_amount
payment_method
gateway
gatewayId
transaction_gateway_code
reference_id
campaign
form
is_subscription
monthly_plan_charge
reference_metadata.organizationId
reference_metadata.countryAndCity
reference_metadata.deviceCategory
reference_metadata.userIp
reference_metadata.userLocation.lon
reference_metadata.userLocation.lat
reference_metadata.operatingSystemFamily
reference_metadata.operatingSystemName
reference_metadata.sessionAdminSubDiv1
reference_metadata.sessionCity
reference_metadata.sessionCountryCode
reference_metadata.sessionCountryName
reference_metadata.userAgent
reference_metadata.userAgentName
reference_metadata.userAgentNameAndVersion
reference_metadata.userAgentVersion
reference_metadata.userWindowResolution
reference_metadata.urlLanding
currency.id
currency.name
currency.code
currency.symbol
currency.conversion_amount
currency.created_at
currency.updated_at
reference_metadata
reference_metadata.sessionIsp
reference_metadata.utmCampaign
reference_metadata.utmSource
reference_metadata.utmMedium
donation_certificate_id
donation_id
donation_ids
donation_certificate_batch_id
metadata
metadata.organizationId
metadata.countryAndCity
metadata.deviceCategory
metadata.userIp
metadata.userLocation.lon
metadata.userLocation.lat
metadata.operatingSystemFamily
metadata.operatingSystemName
metadata.sessionAdminSubDiv1
metadata.sessionCity
metadata.sessionCountryCode
metadata.sessionCountryName
metadata.sessionIsp
metadata.userAgent
metadata.userAgentName
metadata.userAgentNameAndVersion
metadata.userAgentVersion
metadata.userWindowResolution
metadata.urlLanding
metadata.gateway.name
metadata.amount
metadata.is_subscription
metadata.form.name
metadata.campaign.name
reference_metadata.gateway.name
reference_metadata.amount
reference_metadata.is_subscription
reference_metadata.form.name
reference_metadata.campaign.name
reference_metadata.utmContent
reference_metadata.utmTerm
metadata.utmCampaign
metadata.utmSource
metadata.utmMedium
metadata.utmContent
metadata.utmTerm
reference_metadata.sessionAdminSubDiv2
metadata.sessionAdminSubDiv2
reference_metadata.ID TIENDA
reference_metadata.TIENDA
reference_metadata.ID RAPPITENDERO
reference_metadata.PRODUCTO
reference_metadata.DESCRIPCIÓN PRODUCTO
reference_metadata.ID PRODUCTO
reference_metadata.UNIDADES
reference_metadata.PRECIO UNIDAD
reference_metadata.DESCUENTO
reference_metadata.PRECIO CON DESCUENTO
campaign_code_id
metadata.quantity
reference_metadata.quantity

In [135]:
df_recur_clean = df_recur.drop (['lead_id', 'campaign_id', 'form_id', 'url_landing', 'utm_campaign', 'utm_source', 'utm_medium', 'utm_content', 'utm_term', 'gatewayId', 'transaction_gateway_code', 'reference_id', 'campaign', 'form', 'reference_metadata.organizationId', 'metadata.organizationId' , 'reference_metadata.userIp', 'metadata.userIp','reference_metadata.sessionAdminSubDiv1', 'metadata.sessionAdminSubDiv1', 'reference_metadata.userAgent', 'metadata.userAgent', 'reference_metadata.userAgentNameAndVersion', 'metadata.userAgentNameAndVersion', 'reference_metadata.userAgentVersion', 'metadata.userAgentVersion', 'reference_metadata.urlLanding', 'metadata.urlLanding', 'currency.created_at', 'currency.updated_at', 'reference_metadata', 'reference_metadata.sessionIsp', 'reference_metadata.utmCampaign', 'reference_metadata.utmSource', 'reference_metadata.utmMedium', 'donation_certificate_id', 'donation_id', 'donation_ids', 'donation_certificate_batch_id', 'metadata', 'metadata.organizationId', 'metadata.urlLanding', 'metadata.form.name', 'metadata.campaign.name', 'reference_metadata.gateway.name', 'reference_metadata.amount', 'reference_metadata.is_subscription', 'reference_metadata.form.name', 'reference_metadata.campaign.name', 'reference_metadata.utmContent', 'reference_metadata.utmTerm', 'metadata.utmCampaign', 'metadata.utmSource', 'metadata.utmMedium', 'metadata.utmContent', 'metadata.utmTerm', 'reference_metadata.sessionAdminSubDiv2','reference_metadata.ID TIENDA', 'reference_metadata.TIENDA', 'reference_metadata.ID RAPPITENDERO', 'reference_metadata.PRODUCTO', 'reference_metadata.DESCRIPCIÓN PRODUCTO', 'reference_metadata.ID PRODUCTO', 'reference_metadata.PRODUCTO', 'reference_metadata.DESCRIPCIÓN PRODUCTO', 'reference_metadata.ID PRODUCTO', 'reference_metadata.UNIDADES', 'reference_metadata.PRECIO UNIDAD' , 'reference_metadata.DESCUENTO', 'reference_metadata.PRECIO CON DESCUENTO', 'campaign_code_id', 'metadata.quantity' , 'reference_metadata.quantity'], axis = 1)

In [136]:
df_recur_clean.shape

(72573, 71)

In [137]:
df_recur_clean.columns

Index(['index', 'lead_idd', 'person_id', 'organization_idd', 'event_id',
       'data', 'description', 'id', 'is_subscription', 'amount',
       'conversion_amount', 'monthly_plan_charge', 'subscription_gateway_code',
       'state', 'status', 'created_at', 'updated_at', 'next_payment_date',
       'gateway_organization_id', 'gateway_currency_id', 'organization_id',
       'gatawey_json_response', 'is_from_webhook', 'is_intent',
       'payment_method', 'is_manual', 'module', 'is_imported', 'ip',
       'payment_method_id', 'frequency_id', 'subscription_cycle_number', 'rng',
       'amount', 'conversion_amount', 'payment_method', 'gateway',
       'is_subscription', 'monthly_plan_charge',
       'reference_metadata.countryAndCity',
       'reference_metadata.deviceCategory',
       'reference_metadata.userLocation.lon',
       'reference_metadata.userLocation.lat',
       'reference_metadata.operatingSystemFamily',
       'reference_metadata.operatingSystemName',
       'reference_metadata.sessionCity',
       'reference_metadata.sessionCountryCode',
       'reference_metadata.sessionCountryName',
       'reference_metadata.userAgentName',
       'reference_metadata.userWindowResolution', 'currency.id',
       'currency.name', 'currency.code', 'currency.symbol',
       'currency.conversion_amount', 'metadata.countryAndCity',
       'metadata.deviceCategory', 'metadata.userLocation.lon',
       'metadata.userLocation.lat', 'metadata.operatingSystemFamily',
       'metadata.operatingSystemName', 'metadata.sessionCity',
       'metadata.sessionCountryCode', 'metadata.sessionCountryName',
       'metadata.sessionIsp', 'metadata.userAgentName',
       'metadata.userWindowResolution', 'metadata.gateway.name',
       'metadata.amount', 'metadata.is_subscription',
       'metadata.sessionAdminSubDiv2'],
      dtype='object')

In [122]:
# unindo 2 columnas com mesmas respostas em linhas diferentes - com um problema relacionado aos valores NaN.

In [128]:
# df_recur_clean[['metadata.operatingSystemName', 'reference_metadata.operatingSystemName']].fillna ('' , inplace=True)

In [161]:
# df_recur_clean['operating_system'] = df_recur_clean[['metadata.operatingSystemName', 'reference_metadata.operatingSystemName']].agg ('-'.join, axis = 1)

In [147]:
#criando uma nova coluna que recebe as informações das 2 colunas e une com um hifen as duas informações 
df_recur_clean['operating_system'] = df_recur_clean['metadata.operatingSystemName'].astype(str) + ' - ' +  df_recur_clean ['reference_metadata.operatingSystemName'].astype(str)

In [148]:
df_recur_clean['operating_system'].value_counts()

nan - nan                  54674
nan - Windows NT            4264
nan - Mac OS X              2139
nan - Android               2096
Windows NT - nan            1695
nan - iOS                   1485
Windows NT - Windows NT     1412
Mac OS X - nan              1076
Mac OS X - Mac OS X          769
nan - Linux                  742
Android - nan                738
Android - Android            663
iOS - nan                    425
iOS - iOS                    371
Linux - Linux                  6
nan - Chrome OS                5
Linux - nan                    4
nan - Ubuntu                   4
Chrome OS - Chrome OS          2
Ubuntu - nan                   1
Chrome OS - nan                1
Ubuntu - Ubuntu                1
Name: operating_system, dtype: int64

In [149]:
# criei um novo dataset para facilitar o acréscimo das colunas 
teste = df_recur_clean[['metadata.operatingSystemName', 'reference_metadata.operatingSystemName']].fillna ('')

In [159]:
teste['operating_system'] = teste['metadata.operatingSystemName'].astype(str) + '-' +  teste ['reference_metadata.operatingSystemName'].astype(str)

In [160]:
teste['operating_system'].value_counts()

-                        54674
-Windows NT               4264
-Mac OS X                 2139
-Android                  2096
Windows NT-               1695
-iOS                      1485
Windows NT-Windows NT     1412
Mac OS X-                 1076
Mac OS X-Mac OS X          769
-Linux                     742
Android-                   738
Android-Android            663
iOS-                       425
iOS-iOS                    371
Linux-Linux                  6
-Chrome OS                   5
-Ubuntu                      4
Linux-                       4
Chrome OS-Chrome OS          2
Ubuntu-                      1
Chrome OS-                   1
Ubuntu-Ubuntu                1
Name: operating_system, dtype: int64